.medicine-container {
    padding: 20px;
    text-align: center;
}

.medicine-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.medicine-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    cursor: pointer; /* Add this line */
}

.medicine-card h3 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold; /* Make the heading bolder */
}

.medicine-card p {
    margin: 8px 0;
    font-size: 14px;
    color: #666;
    font-weight: bold; /* Make the paragraph text bolder */
}

.create-medicine-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

.create-medicine-button:hover {
    background-color: #45a049;
}

/* Pagination styles */
.medicine-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.medicine-pagination button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.medicine-pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.medicine-pagination button:hover:not(:disabled) {
    background-color: #0056b3;
}

.medicine-pagination span {
    font-size: 16px;
    color: #333;
}

/* Medicine filter dropdown */
.medicine-filter {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.medicine-filter select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    width: 200px;
    height: 40px;
    transition: border-color 0.3s ease;
}

.medicine-filter select:focus {
    border-color: #007bff;
}
