.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-modal {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.popup-modal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup-modal button {
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-modal button:hover {
    background-color: #0056b3;
}

.close-button {
    background: none;
    background-color: #333;
    border: none;
    cursor: pointer;
}

.submit-button {
    background-color: rgb(28, 205, 43);
}

.time-inputs {
    display: flex;
    gap: 10px; /* Adds spacing between the inputs */
}

.time-inputs input {
    width: 100%; /* Adjusts the width of the inputs to be flexible */
}

.button-container {
    display: flex;
    justify-content: space-between; /* Spread the buttons horizontally */
    gap: 10px; /* Space between buttons */
}

.button-container button {
    flex: 1; /* Ensures both buttons take equal width */
    padding: 10px;
    font-size: 16px; /* Adjust the font size */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

