USE [master]
GO
/****** Object:  Database [PrivateClinicManagementDB]    Script Date: 28/12/2024 10:00:50 ******/
CREATE DATABASE [PrivateClinicManagementDB]
GO
USE [PrivateClinicManagementDB]
GO
/****** Object:  Table [dbo].[CHECKUP]    Script Date: 28/12/2024 10:00:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHECKUP](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](40) NULL,
	[phone] [nvarchar](10) NULL,
	[date] [date] NULL,
	[startTime] [time](0) NULL,
	[endTime] [time](0) NULL,
	[room] [nvarchar](10) NULL,
	[status] [nvarchar](40) NULL,
	[doctorId] [int] NOT NULL,
	[treatmentId] [int] NOT NULL,
 CONSTRAINT [PK_CHECKUP] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EQUIPMENT]    Script Date: 28/12/2024 10:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EQUIPMENT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](40) NULL,
	[status] [nvarchar](40) NULL,
	[cleaningTime] [date] NULL,
	[maintenance] [nvarchar](40) NULL,
 CONSTRAINT [PK_EQUIPMENT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXAMINITION_APPOINTMENT]    Script Date: 28/12/2024 10:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXAMINITION_APPOINTMENT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](40) NULL,
	[phone] [nvarchar](10) NULL,
	[email] [nvarchar](50) NULL,
	[date] [date] NULL,
	[status] [nvarchar](40) NULL,
	[condition] [nvarchar](40) NULL,
	[doctorId] [int] NOT NULL,
	[customerId] [int] NOT NULL,
	[treatmentId] [int] NOT NULL,
 CONSTRAINT [PK_EXAMINITION APPOINTMENT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICAL_RECORD]    Script Date: 28/12/2024 10:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICAL_RECORD](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[checkup] [nvarchar](50) NULL,
	[treatment] [nvarchar](50) NULL,
	[description] [nvarchar](1000) NULL,
	[recordDate] [date] NULL,
	[customerId] [int] NOT NULL,
 CONSTRAINT [PK_MEDICAL RECORD] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICAL_RECORD_MEDICINES]    Script Date: 28/12/2024 10:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICAL_RECORD_MEDICINES](
	[recordId] [int] NOT NULL,
	[medicineId] [int] NOT NULL,
	[quantity] [int] NULL,
	[note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[recordId] ASC,
	[medicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICINE_STORAGE]    Script Date: 28/12/2024 10:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICINE_STORAGE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[available] [float] NULL,
	[total] [float] NULL,
	[expiredDate] [date] NULL,
 CONSTRAINT [PK_MEDICINE_STORAGE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 28/12/2024 10:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customerName] [nvarchar](40) NULL,
	[customerEmail] [nvarchar](50) NULL,
	[total] [float] NULL,
	[date] [date] NULL,
	[method] [nvarchar](30) NULL,
	[status] [nvarchar](30) NULL,
	[treatmentId] [int] NOT NULL,
 CONSTRAINT [PK_ORDER] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 28/12/2024 10:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roleType] [nvarchar](30) NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREATMENT]    Script Date: 28/12/2024 10:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREATMENT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[session] [int] NULL,
	[price] [float] NOT NULL,
	[image] [varbinary](max) NULL,
 CONSTRAINT [PK_TREATMENT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREATMENT_DETAIL]    Script Date: 28/12/2024 10:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREATMENT_DETAIL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[details] [nvarchar](1000) NULL,
	[treatmentId] [int] NOT NULL,
 CONSTRAINT [PK_TREATMENT_DETAIL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 28/12/2024 10:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[age] [smallint] NULL,
	[address] [nvarchar](50) NULL,
	[phone] [nvarchar](10) NULL,
	[email] [nvarchar](30) NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](30) NULL,
	[roleId] [int] NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHECKUP]  WITH CHECK ADD  CONSTRAINT [FK_CHECKUP_TREATMENT] FOREIGN KEY([treatmentId])
REFERENCES [dbo].[TREATMENT] ([id])
GO
ALTER TABLE [dbo].[CHECKUP] CHECK CONSTRAINT [FK_CHECKUP_TREATMENT]
GO
ALTER TABLE [dbo].[CHECKUP]  WITH CHECK ADD  CONSTRAINT [FK_CHECKUP_USER] FOREIGN KEY([doctorId])
REFERENCES [dbo].[USER] ([id])
GO
ALTER TABLE [dbo].[CHECKUP] CHECK CONSTRAINT [FK_CHECKUP_USER]
GO
ALTER TABLE [dbo].[EXAMINITION_APPOINTMENT]  WITH CHECK ADD  CONSTRAINT [FK_EXAMINITION_APPOINTMENT_TREATMENT] FOREIGN KEY([treatmentId])
REFERENCES [dbo].[TREATMENT] ([id])
GO
ALTER TABLE [dbo].[EXAMINITION_APPOINTMENT] CHECK CONSTRAINT [FK_EXAMINITION_APPOINTMENT_TREATMENT]
GO
ALTER TABLE [dbo].[EXAMINITION_APPOINTMENT]  WITH CHECK ADD  CONSTRAINT [FK_EXAMINITION_APPOINTMENT_USER] FOREIGN KEY([doctorId])
REFERENCES [dbo].[USER] ([id])
GO
ALTER TABLE [dbo].[EXAMINITION_APPOINTMENT] CHECK CONSTRAINT [FK_EXAMINITION_APPOINTMENT_USER]
GO
ALTER TABLE [dbo].[EXAMINITION_APPOINTMENT]  WITH CHECK ADD  CONSTRAINT [FK_EXAMINITION_APPOINTMENT_USER1] FOREIGN KEY([customerId])
REFERENCES [dbo].[USER] ([id])
GO
ALTER TABLE [dbo].[EXAMINITION_APPOINTMENT] CHECK CONSTRAINT [FK_EXAMINITION_APPOINTMENT_USER1]
GO
ALTER TABLE [dbo].[MEDICAL_RECORD]  WITH CHECK ADD  CONSTRAINT [FK_MEDICAL_RECORD_USER] FOREIGN KEY([customerId])
REFERENCES [dbo].[USER] ([id])
GO
ALTER TABLE [dbo].[MEDICAL_RECORD] CHECK CONSTRAINT [FK_MEDICAL_RECORD_USER]
GO
ALTER TABLE [dbo].[MEDICAL_RECORD_MEDICINES]  WITH CHECK ADD FOREIGN KEY([medicineId])
REFERENCES [dbo].[MEDICINE_STORAGE] ([id])
GO
ALTER TABLE [dbo].[MEDICAL_RECORD_MEDICINES]  WITH CHECK ADD  CONSTRAINT [FK__MEDICAL_R__recor__2DB1C7EE] FOREIGN KEY([recordId])
REFERENCES [dbo].[MEDICAL_RECORD] ([id])
GO
ALTER TABLE [dbo].[MEDICAL_RECORD_MEDICINES] CHECK CONSTRAINT [FK__MEDICAL_R__recor__2DB1C7EE]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_TREATMENT] FOREIGN KEY([treatmentId])
REFERENCES [dbo].[TREATMENT] ([id])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_TREATMENT]
GO
ALTER TABLE [dbo].[TREATMENT_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_TREATMENT_DETAIL_TREATMENT] FOREIGN KEY([treatmentId])
REFERENCES [dbo].[TREATMENT] ([id])
GO
ALTER TABLE [dbo].[TREATMENT_DETAIL] CHECK CONSTRAINT [FK_TREATMENT_DETAIL_TREATMENT]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLE] FOREIGN KEY([roleId])
REFERENCES [dbo].[ROLE] ([id])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_ROLE]
GO
USE [master]
GO
